@tailwind utilities;
@tailwind base;
@tailwind components;

@keyframes float1 {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(50px, 60px); }
}

@keyframes float2 {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(-40px, 70px); }
}

@keyframes float3 {
  0%, 100% { transform: translate(0, 0); }
  50% { transform: translate(60px, -40px); }
}

.animate-float1 {
  animation: float1 5s ease-in-out infinite;
}
.animate-float2 {
  animation: float2 2s ease-in-out infinite;
}
.animate-float3 {
  animation: float3 3s ease-in-out infinite;
}
.bg{
  position: absolute;
}

.email{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}